<!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
          <nav class="navbar top-navbar navbar-expand-md navbar-light">
              <!-- ============================================================== -->
              <!-- Logo -->
              <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/pages/dashboard">
                    <b class="logo-mini">
                        <img style="height: 20px !important;" src="../assets/images/logo/logo.png" alt="homepage" class="light-logo"
                            class="light-logo" />
                    </b>
                    <span>
                        <img style="height: 40px !important;" src="../assets/images/logo/logo.png" class="light-logo"
                            alt="homepage" />
                    </span>
                </a>
            </div>
              <!-- ============================================================== -->
              <!-- End Logo -->
              <!-- ============================================================== -->
              <div class="navbar-collapse">
                  <!-- ============================================================== -->
                  <!-- toggle and nav items -->
                  <!-- ============================================================== -->
                  <ul class="navbar-nav mr-auto mt-md-0">
                      <!-- This is  -->
                      <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                      <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                      <!-- ============================================================== -->
                      <!-- Search -->
                      <!-- ============================================================== -->
                      <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                         HỆ THỐNG QUẢN TRỊ THÔNG TIN THÍ SINH
                      </a>

                      </li>
                  </ul>
                  <ul class="navbar-nav my-lg-0">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark notify-main" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell" *ngIf="countNewNotification==0"></i>
                            <i class="fa fa-bell animated notification show-count notify-cs" *ngIf="countNewNotification>0"  [attr.data-count]="countNewNotification"></i>
                          </a>
                          <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                              <ul>
                                  <li>
                                      <div class="drop-title">Bạn có {{countNewNotification}} thông báo mới</div>
                                  </li>
                                  <li>
                                      <div class="message-center">
                                          <!-- Message -->

                                          <a  *ngFor="let item of notifications" (click)="seenNotification(item)" [class.notseen]="item.IsSeen==seenStatus.NotSeen" class="pointer">
                                              <div class="user-img"> <img [src]="item.UserSend.Avatar | image:true" alt="user" class="img-circle">
                                                <span class="profile-status online pull-right" *ngIf="item.IsSeen ==seenStatus.NotSeen"></span>
                                              </div>
                                              <div class="mail-contnet">
                                                  <h5>{{item.UserSend.Name}}</h5>
                                                  <span class="mail-desc-custom"> {{item.Content}}</span>
                                                  <span class="time">
                                                    {{item.Date| date: 'dd/MM/yyyy hh:mm'}}
                                                  </span>
                                                </div>
                                              </a>
                                      </div>
                                  </li>
                                  <li>
                                      <a class="nav-link text-center pointer" (click)="viewAll()"> <strong>Xem tất cả</strong> &nbsp; <i class="fa fa-angle-right"></i> </a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      <!-- ============================================================== -->
                      <!-- End Messages -->
                      <!-- ============================================================== -->
                      <!-- ============================================================== -->
                      <!-- Profile -->
                      <!-- ============================================================== -->
                      <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-vn"></i></a>
                        <div class="dropdown-menu dropdown-menu-right scale-up">
                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-vn"></i> Việt Nam</a>
                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-us"></i> English</a>
                        </div>
                      </li> -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="name-user">{{user.name}}</span>
                            &nbsp;
                            <img [src]="user.avatar|image:true" alt="user" class="profile-pic"/>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right scale-up">
                              <ul class="dropdown-user">
                                  <li><a [routerLink]="['/pages/manager/profile']" ><i class="ti-user"></i> Thông tin cá nhân</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a href="javascript:void(0)" (click)="this.authService.logout()" ><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                              </ul>
                          </div>
                      </li>

                  </ul>
              </div>
          </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
