<div class="receive-job">
  <h3>Thông tin người xử lý </h3>
  <div class="row form-group">
    <div class="col-md-4">
      <label class="badge badge-dark">Họ và tên</label>
      <input type="text" name="updateBy" class="form-control" placeholder="Tên"
        [value]="studentTask.appUser==null? '':studentTask.appUser.name" readOnly />
    </div>
    <div class="col-md-4">
      <label class="badge badge-dark">Email</label>
      <input type="text" name="updateBy" class="form-control" placeholder="Email"
        [value]="studentTask.appUser!=null?studentTask.appUser.email : ''" readOnly />
    </div>
    <div class="col-md-4">
      <label class="badge badge-dark">Số điện thoại</label>
      <input type="text" name="updateBy" class="form-control" placeholder="Số điện thoại"
        [value]="studentTask.appUser!=null?studentTask.appUser.phoneNumber : ''" readOnly />
    </div>
  </div>

  <div class="task  mt-3">
    <h3> Thông tin yêu cầu</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Loại yêu cầu</th>
          <th>Miêu tả</th>
          <th>Số lượng</th>
          <th>File minh chứng</th>
          <th>Trạng thái</th>
          <th>Ghi chú</th>
          <th>File</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{studentTask.requestType.name}}</td>
          <td>{{studentTask.requestType.description}}</td>
          <td>{{studentTask.taskRequest.quantity}}</td>
          <td><a [href]="linkFileAPI+studentTask.taskRequest.filePathStudent" target="_bank">
              {{studentTask.taskRequest.fileNameStudent || "" |compactFile}}
            </a></td>
          <td>{{studentTask.taskRequest.status | taskstatus}}</td>
          <td>{{studentTask.taskRequest.note}}</td>
          <td *ngIf="checkSave  ; else infoFile">
            <label class="btn btn-upload"><i class="fa fa-upload"></i> Tải lên
              <input type="file" accept=".pdf" style="display: none" (change)="onSelectFile($event)" />
            </label>
          </td>
          <td>
            <button class="btn btn-success" (click)="updateFinish()">
              <i class="fa fa-check"></i> Hoàn thành
            </button>

            <button class="btn btn-danger m-md-2" (click)="cancelTask()">
              <i class="fa fa-times"></i>
              Huỷ
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-note-task [dataNoteTasks]="dataNoteTask"></app-note-task>
</div>

<ng-template #infoFile>
  <td>
    <span>
      {{fileNameOrgin||studentTask.taskRequest.fileName || "" |compactFile}}

      <button class="btn btn-danger" style="margin-left:20px;" (click)="removeFile()">
        <i class="fa fa-trash"></i> Xóa
      </button>
    </span>
  </td>
</ng-template>