<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>


<!-- .right-sidebar -->
<div class="right-sidebar">
  <div class="slimscrollright">
      <div class="rpanel-title"> Bảng dịch vụ <span><i class="ti-close right-side-toggle"></i></span> </div>
      <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Cài đặt màu thanh ngang</b></li>
            <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
            <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
            <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
            <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
            <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
            <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
            <li class="d-block m-t-30"><b>Cài đặt màu thanh dọc</b></li>
            <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
            <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
            <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
            <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
            <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
            <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
        </ul>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
