<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile" style="
        background: url(../assets/images/background/user-info.jpg) no-repeat;
      ">
      <!-- User profile image -->
      <div class="profile-img">
        <img [src]="user.avatar | image: true" alt="user" />
      </div>
      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="true">{{ user.name }}</a>
        <div class="dropdown-menu animated flipInY">
          <a [routerLink]="['/pages/system/profile']" class="dropdown-item"><i class="fa fa-check"></i> Thông tin cá
            nhân</a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0)" (click)="authService.logout()" class="dropdown-item"><i
              class="fa fa-power-off"></i> Đăng xuất</a>
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <!-- End Sidebar navigation -->
    <!-- End Sidebar navigation -->


    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <ng-container *ngFor="let main of navigations ; last as isLast">
          <ng-container>
            <!-- {{main.children  | json}} -->
            <li class="nav-small-cap">{{ main.Name_Vi | uppercase }}</li>
            <li *ngFor="let item of main.children">
              <ng-container>

                <a class="waves-effect waves-dark" [class.has-arrow]="item.children.length > 0" [routerLink]="item.Link"
                  [routerLinkActive]="item.Link!=''?'active':''" aria-expanded="false">
                  <i [class]="item.Icon"></i>
                  <span class="hide-menu"> {{ item.Name_Vi }} </span>
                </a>
                <ul aria-expanded="false" class="collapse" *ngIf="item.children.length > 0">
                  <li *ngFor="let child of item.children">
                    <ng-container>
                      <a [routerLink]="child.Link" [routerLinkActive]="child.Link!=''?'active':''">
                        <i [class]="child.Icon"></i> {{ child.Name_Vi }}
                      </a>
                    </ng-container>
                  </li>
                </ul>
              </ng-container>
            </li>
            <li class="nav-devider" *ngIf="!isLast"></li>
          </ng-container>
        </ng-container>
      </ul>
    </nav>

    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <div class="sidebar-footer">
    <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
    <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
    <!-- item--><a href="javascript:void(0)" (click)="this.authService.logout()" class="link" data-toggle="tooltip"
      title="Đăng xuất"><i class="mdi mdi-power"></i></a>
  </div>
  <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->