<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile" style="
        background: url(../assets/images/background/user-info.jpg) no-repeat;
      ">
      <!-- User profile image -->
      <div class="profile-img">
        <img [src]="user.avatar | image: true" alt="user" />
      </div>
      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="true">{{ user.name }}</a>
        <div class="dropdown-menu animated flipInY">
          <a [routerLink]="['/pages/manager/profile']" class="dropdown-item"><i class="fa fa-check"></i> Thông tin cá
            nhân</a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0)" (click)="authService.logout()" class="dropdown-item"><i
              class="fa fa-power-off"></i> Đăng xuất</a>
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <!-- End Sidebar navigation -->
    <!-- End Sidebar navigation -->


  
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a> <i class="fa fa-users" [routerLink]="['/pages/student/']"  routerLinkActive="active"   aria-expanded="false"></i> QUẢN LÝ YÊU CẦU
          </a>

          <ul aria-expanded="true" class="collapse">
            <li>
              <a [routerLink]="['/pages/task-request/list']" routerLinkActive="active"> <i
                class="fa fa-bars" aria-hidden="true"></i> Danh Sách Yêu Cầu</a>
            </li>
          </ul>
        </li>
        

        <li *ngIf="user.unique_name==='admin'">
          <a> <i class="fa fa-cog"   routerLinkActive="active"   aria-expanded="false"></i> QUẢN LÝ HỆ THỐNG
          </a>

          <ul aria-expanded="true" class="collapse">
            <li>
              <a [routerLink]="['/pages/manager/users']" routerLinkActive="active"> <i
                class="fa fa-users" aria-hidden="true"></i> Danh sách user</a>
            </li>
            <!-- <li>
              <a [routerLink]="['/pages/manager/role']" routerLinkActive="active"> <i
                class="fa fa-bars" aria-hidden="true"></i> DS Quyền</a>
            </li> -->
          </ul>
        </li>
      
      </ul>
    </nav>

    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <div class="sidebar-footer">
    <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
    <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
    <!-- item--><a href="javascript:void(0)" (click)="this.authService.logout()" class="link" data-toggle="tooltip"
      title="Đăng xuất"><i class="mdi mdi-power"></i></a>
  </div>
  <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->