.bs-stepper-header {
    .line {
        background-color: #144069;
    }

    .step {
        font-size: 16px;
        border-radius:20px;
        background-color: #eae2d6;
    }
    .step.active {
        border: 1px solid #eae2d6;

        button.step-trigger {
            color: #eae2d6;
            background-color: #144069;

            .bs-stepper-circle {
                color:#144069 ;
                background-color: #eae2d6;
            }
        }
    }
}
