<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Danh mục vai trò</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/pages/dashboard']">Trang chủ</a></li>
      <li class="breadcrumb-item active">Danh mục vai trò</li>
    </ol>
  </div>
  <div class="col-md-7">

  </div>
</div>

<div class="row">
  <!-- Column -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 form-group text-right">
            <div class="col-12 form-group text-right">
              <button class="btn btn-info mr-1" (click)="modalChild.showChildModal(null)" *rbacAllow="{Action:'CREATE',Code:'ROLE'}">
                <span  class="btn-label"> <i class="fa fa-plus"></i></span> Thêm mới
              </button>
              <button class="btn btn-secondary mr-1" (click)="reloadGrid()">
                <span  class="btn-label"> <i class="fa fa-sync"></i></span> Làm mới
              </button>
            </div>
          <div class="col-12">
            <dx-data-grid  #dataGrid
              [dataSource]="dataSource"
              [errorRowEnabled]="false"
              [remoteOperations]="true"
              [showBorders]="true"
              [showRowLines]="true"
              [showColumnLines]="true"
              class="m-grid-5"
              [allowColumnResizing]="true"
              noDataText="Không có dữ liệu !"
              [focusedRowEnabled]="true" columnResizingMode="widget">
              <!-- Option grid -->
              <dxo-selection mode="single"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-editing [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                <dxo-texts confirmDeleteMessage=" Bạn có chắc chắn muốn xóa bản ghi này không?"></dxo-texts>
              </dxo-editing>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true"
              [allowedPageSizes]="[5,10,25, 50, 100]"
              [showPageSizeSelector]="true"
              [showNavigationButtons]="true"
              [showInfo]="true"
              infoText="Trang #{0}. Tổng: {1} ({2} danh mục sản phẩm
              )">
              ></dxo-pager>
              <!-- End option grid -->
              <!-- Colume grid -->
              <dxi-column  dataField="Name" caption="Tên vai trò" ></dxi-column>
              <dxi-column  dataField="Description" caption="Mô tả" ></dxi-column>
              <dxi-column  dataField="CreateDate" caption="Ngày tạo" dataType="date"  format="dd/MM/yyyy HH:mm"></dxi-column>
              <dxi-column  dataField="CreateBy" caption="Người tạo" >
                <dxo-lookup [dataSource]="dataSourUser" displayExpr="Name" valueExpr="Id" allowClearing="true"></dxo-lookup>
              </dxi-column>
              <dxi-column  dataField="ModifyDate" caption="Ngày cập nhật" dataType="date"  format="dd/MM/yyyy HH:mm"></dxi-column>
              <dxi-column  dataField="ModifyBy" caption="Người cập nhật">
                <dxo-lookup [dataSource]="dataSourUser" displayExpr="Name" valueExpr="Id" allowClearing="true"></dxo-lookup>
              </dxi-column>
              <dxi-column dataField="null" caption="Sửa/Xóa"  type="buttons">
                <dxi-button
                *rbacAllowArr="[{Action: 'UPDATE', Code:'ROLE', Operator:'OR'}, {Action: 'READ', Code:'ROLE', Operator:''}]"
                    hint="Chỉnh sửa"
                    icon="edit"
                    [visible]="1"
                    [onClick]="showModal"></dxi-button>
                    <dxi-button
                    *rbacAllow="{Action:'DELETE',Code:'ROLE'}"
                    icon="trash"
                    [visible]="1"
                    [onClick]="fnDelete"></dxi-button>
              </dxi-column>
              <dxi-column dataField="Name"   alignment="center" caption="Phân quyền" cellTemplate="permissionTemplate"></dxi-column>
              <div *dxTemplate="let data of 'permissionTemplate'">
                <div class="text-center" *rbacAllowArr="[{Action: 'UPDATE', Code:'ROLE', Operator:'OR'}, {Action: 'READ', Code:'ROLE', Operator:''}]">
                  <button  *ngIf="data.value !=  roleConst.ADMIN && data.value != roleConst.APPROVER_ISSUE && data.value != roleConst.APPROVER_CONTRACT"
                  class="btn btn-info waves-effect waves-light mr-1" style="height: 25px; padding: 0 10px;" type="button" (click)="onPermission(data)">
                    <span class="btn-label"><i class="fa fa-project-diagram"></i></span>Phân quyền
                </button>

                </div>
              </div>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-role-action  #modalChild (loadInit)="loadInit()"></app-role-action>
<app-permission #permission  (loadInit)="loadInit()"></app-permission>
