<dx-html-editor height="250px" [(value)]="content" (valueChange)="valueChange($event)">
  <dxo-toolbar [multiline]="true">
    <dxi-item formatName="size"
      [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
    <dxi-item formatName="font"
      [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']">
    </dxi-item>
    <dxi-item formatName="separator"></dxi-item>
    <dxi-item formatName="bold"></dxi-item>
    <dxi-item formatName="italic"></dxi-item>
    <dxi-item formatName="strike"></dxi-item>
    <dxi-item formatName="underline"></dxi-item>
    <dxi-item formatName="separator"></dxi-item>
    <dxi-item formatName="alignLeft"></dxi-item>
    <dxi-item formatName="alignCenter"></dxi-item>
    <dxi-item formatName="alignRight"></dxi-item>
    <dxi-item formatName="alignJustify"></dxi-item>
    <dxi-item formatName="separator"></dxi-item>
    <dxi-item formatName="orderedList"></dxi-item>
    <dxi-item formatName="bulletList"></dxi-item>
    <dxi-item formatName="separator"></dxi-item>
    <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
    <dxi-item formatName="separator"></dxi-item>
    <dxi-item formatName="color"></dxi-item>
    <dxi-item formatName="background"></dxi-item>
    <dxi-item formatName="separator"></dxi-item>
    <dxi-item formatName="link"></dxi-item>
  </dxo-toolbar>
  <dxo-media-resizing [enabled]=true>
  </dxo-media-resizing>
  <!-- Content -->
</dx-html-editor>
